* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,
body {
    height: 100%;
    margin: 0;
    padding: 0;
}

.container {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    /* Ocupa a altura total da viewport */
}

header {
    background-color: #9885da;
    color: white;
    padding: 16px;
    text-align: center;
}

main {
    flex: 1;
}

footer {
    text-align: center;
    padding: 16px;
    background-color: #9885da;
    /* Cor de fundo */
    color: #333;
    margin-top: auto;
    /* Empurra o footer para o final */
}

nav {
    display: flex;
    justify-content: center;
    gap: 8px;
    padding: 8px;
    background-color: #E3DFF0;
    margin-top: 8px;
}

nav a {
    text-decoration: none;
    color: #212121;
    padding: 8px 16px;
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 4px;
}

main {
    padding: 16px;
    min-height: 500px;
}

footer {
    text-align: center;
    padding: 16px;
    background-color: #9885da;
    color: #333;
    margin-top: auto;
    /* Empurra o footer para o final */
}

.btn-cadastrar {
    display: inline-block;
    margin-bottom: 16px;
    padding: 10px 20px;
    background-color: #28a745;
    color: white;
    text-decoration: none;
    border-radius: 4px;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 16px;
}

table th,
table td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: center;
}

table th {
    background-color: #9885da;
    color: white;
}

table td a {
    text-decoration: none;
    color: #FFFFFF;
    padding: 6px 12px;
    border-radius: 4px;
}

.btn-editar {
    background-color: #FFA726;
}

.btn {
    border: none;
    padding: 4px 8px;
    border-radius: 4px;
    color: #000000;
    cursor: pointer;
    transition: box-shadow 0.6s ease;
}

.btn:hover {
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.6);
    transition: box-shadow 0.6s ease,
}

.btn-excluir {
    background-color: #fc4632;
}

.btn-alterar {
    text-align: center;
    background-color: #9885da;
    /* Cor de fundo verde */
    color: rgb(255, 255, 255);
    /* Cor do texto */
    padding: 5px 10px;
    /* Espaçamento interno */
    margin-bottom: 5px;
    border: none;
    /* Remover borda padrão */
    border-radius: 4px;
    /* Borda arredondada */
    cursor: pointer;
    /* Mudar o cursor para indicar que é clicável */
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.4);
    transition: transform 0.1s, background-color 0.1s;
    /* Transições suaves */
}

.btn-alterar:hover {
    background-color: #9885da;
    /* Cor de fundo um pouco mais escura ao passar o mouse */
    transform: translateY(-4px);
    /* Move o botão para cima ao passar o mouse */
}

.btn-alterar:active {
    transform: translateY(5px);
    /* Move o botão para baixo quando pressionado */
    background-color: #9885da;
    /* Cor de fundo ainda mais escura quando clicado */
}

.btn-alterar:focus {
    outline: none;
    /* Remove o contorno ao focar no botão */
}

footer {
    text-align: center;
    padding: 16px;
    background-color: #9885da;
    color: #ffffff;
}

p {
    font-size: 18px;
}


.github-link {
    color: #FFFFFF;
    text-decoration: none;
    display: inline-flex;
    font-size: 18px;
    align-items: center;
    margin-top: 10px;
}

.github-icon {
    width: 26px;
    height: 26px;
    margin-right: 5px;
}

.github-link:hover {
    color: rgba(0, 0, 0, 0.6);
    ;
    opacity: 0.8;
}

/*Falta azer futuras alterações abaixo*/
.cadastro {
    background: #F4E8FF;
    display: flex;
    flex-direction: column;
    gap: 10px;
    flex: 1;
    min-height: 300px;
    padding: 10px;
    border-radius: 4px;
    margin-bottom: 10px;
}

.cadastro .field {
    flex: 1;
    max-width: 400px;
}

.cadastro .field label {
    color: #333333;
    font-weight: bold;
    font-family: 'Roboto', sans-serif;
}

.cadastro .field input {
    border: none;
    padding: 10px;
    width: 100%;
    margin: 5px 0;
    border-radius: 6px;
}

.cadastro .field button {
    border: none;
    padding: 10px;
    background: #b5bcc2;
    border-radius: 4px;
    color: #000000;
    cursor: pointer;
    transition: background-color 0.6s ease, box-shadow 0.6s ease;
}

.cadastro .field button:hover {
    background-color: #45a049;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.6);
    transition: box-shadow 0.6s ease, background-color 0.6s ease;
}

.menu a.active {
    background: #9885da;
    color: black;
}

.error {
    text-align: center;
}